<mat-toolbar color="primary">
  <button
    routerLink="/"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>psychology</mat-icon>
  </button>
  <span>Quizify</span>
  <span class="example-spacer"></span>
  <a mat-icon-button *ngIf="!isLoggedIn" routerLink="/login">Login</a>
  <a mat-icon-button class="mr20 ml20" *ngIf="!isLoggedIn" routerLink="/signup"
    >Register</a
  >
  <a
    mat-icon-button
    class="mr20"
    *ngIf="isLoggedIn && user"
    routerLink="/admin/profile"
    >{{ user.username }}</a
  >
  <a
    (click)="logout()"
    mat-icon-button
    class="mr20 ml20"
    *ngIf="isLoggedIn"
    routerLink="/login"
    >Logout</a
  >
</mat-toolbar>
