<mat-card *ngIf="user">
  <h1>Your Profile Details</h1>
  <mat-card-content>
    <div class="container">
      <div class="container text-center">
        <img
          src="https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png"
          alt="image"
          class="profile-image"
        />
        <h1 class="mt-2">{{ user.firstName }} {{ user.lastName }}</h1>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <table class="table text-center">
            <tr>
              <td>Username</td>
              <td>{{ user.username }}</td>
            </tr>
            <tr>
              <td>Userid</td>
              <td>QUIZ{{ user.id }}</td>
            </tr>
            <tr *ngIf="user.phone">
              <td>Phone</td>
              <td>{{ user.phone }}</td>
            </tr>
            <tr>
              <td>Role</td>
              <td>{{ user.authorities[0].authority }}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>{{ user.enabled ? "ACTIVE" : "NO ACTIVE" }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="text-center">
    <button mat-raised-button color="primary">Update</button>
    <button mat-raised-button color="accent">Share</button>
  </mat-card-actions>
</mat-card>
